/* ------------------------------------------- 
------ CSS PARTIALS & TABLE OF CONTENTS ------
------------------------------------------- */

/* GLOBAL VARIABLES */
@import url(partials/global-variables.css);
/* --- UI COLORS, LINK COLORS, FONT FAMILIES */

/* GLOBAL RESETS */
@import url(partials/global-resets.css);
/* --- BORDER BOX. REMOVE MARGIN, SMOOTH SCROLLING */

/* GLOBAL COLORS */
@import url(partials/global-colors.css);
/* --- MAIN BACKGROUND COLOR, MAIN TEXT COLOR, LINK COLOR, LINK COLOR ON HOVER */

/* GLOBAL TYPOGRAPHY */
@import url(partials/global-typography.css);
/* --- GLOBAL FONT SIZE & LINE HEIGHT, HEADING FONT FAMILY & WEIGHT, HEADING 1-3 STYLING, PARAGRAPH STYLING */

/* GLOBAL MEDIA */
@import url(partials/global-media.css);
/* --- RESPONSIVE IMAGES, SVGS, AND VIDEOS */

/* GLOBAL CONTAINERS */
@import url(partials/global-containers.css);
/* --- CONTAINER CLASS */

/* GLOBAL GRID */
@import url(partials/global-grid.css);
/* --- GLOBAL 12 COLUMN GRID SYSTEM */

/* GLOBAL HELPERS */
@import url(partials/global-helpers.css);
/* --- HORIZONTAL RULES HELPER */

/* STRUCTURE */
@import url(partials/structure.css);

/* COMPONENTS */
@import url(partials/ui-buttons.css);
@import url(partials/ui-cards.css);
@import url(partials/ui-carousel.css);

/* ANIMATION */
@import url(partials/animation.css);

/* -------------------------
------ CUSTOM STYLING ------
-------------------------- */

/* SPLASH SCREEN */

.splash-screen {

  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  background-color: #0A0C0C;

  /* VERTICAL AND HORIZONTAL CENTERING */
  display: grid;
  place-items: center;

  /* ANIMATION */
  animation: splash-screen-exit 0.5s ease-out 2s forwards;
  
}

@keyframes splash-screen-exit {

    0% {
        translate: 0;
        opacity: 1;
    }

    100% {
        translate: 0 -100%;
        opacity: 0;
    }

}

.splash-screen .splash-logo {
    animation: splash-logo-enter 0.25s ease-out forwards;
}

@keyframes splash-logo-enter {

    0% {
        opacity: 0;
        scale: 0.8;
    }

    100% {
        opacity: 1;
        scale: 1;
    }

}