/* ------------------------ 
------ GLOBAL COLORS ------
------------------------ */

body {

    /* SET MAIN SITE BACKGROUND COLOR */
    background-color: var(--body-background-color);

    /* SET MAIN SITE TEXT COLOR */
    color: var(--body-text-color);

}

a {

    /* SET TEXT LINK COLOR */
    color: var(--link-color);

    /* SET TEXT LINK COLOR ON HOVER */
    &:hover {
        color: var(--link-color-hover);
    }

    /* SET LINK UNDERLINE COLOR AND STYLING */
    text-decoration-color:var(--link-color-hover);
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;

}