/* ---------------------------
------ GLOBAL VARIABLES ------
--------------------------- */

:root {

    /* MAIN UI COLORS */
    --body-background-color: #eeeeee;
    --body-text-color: #222;

    /* LINK COLORS */
    --link-color: rgb(55, 0, 255);
    --link-color-hover: rgb(15, 0, 125);

    /* SANS SERIF FONT FAMILY */
    --sans-serif: Helvetica, Arial, sans-serif;

    /* SERIF FONT FAMILY*/
    --serif: Georgia, Times, serif;

    /* DEFINE FONTS */
    --font-body: var(--sans-serif);
    --font-headings: var(--sans-serif);

    /* SIZING UNITS */
    --unit-xsmall-: 0.5rem;
    --unit-small: 1rem;
    --unit-medium: 2rem;
    --unit-large: 3rem;
    --unit-xlarge: 4rem;

    /* SITE STRUCTURE COLORS */
    --site-header-background-color: #f1f1f1;
    --site-header-text-color: #000;

    --site-footer-background-color: #f1f1f1;
    --site-footer-text-color: #000;

    --sitenav-drawer-menu-background-color: #eee;
    --sitenav-drawer-menu-text-color: #000;

}