/* ---------------------------
------ GLOBAL VARIABLES ------
--------------------------- */

:root {

    /* MAIN UI COLORS */
    --body-background-color: #161818;
    --strangelove-background-color: #161818;
    --body-text-color: #A9B5B8;
    --section-heading-text-color: #E1ECEE;

    --text-color-1: #fff;
    --text-color-2: #E1ECEE;
    --text-color-3: #D7E3E4;
    --text-color-4: #C7D1D2;
    --text-color-5: #A9B5B8;

    /* LINK COLORS */
    --link-color: #006877;
    --link-color-hover: #00434d;

    /* SANS SERIF FONT FAMILY */
    --sans-serif: "Balto", Helvetica, Arial, sans-serif;

    /* SERIF FONT FAMILY*/
    --serif: "garamond-premier-pro-caption", Georgia, Times, serif;

    /* CONDENSED FONT FAMILY */
    --condensed: "franklin-gothic-condensed";

    /* DEFINE FONTS */
    --font-body: var(--sans-serif);
    --font-headings: var(--sans-serif);

    /* SIZING UNITS */
    --unit-xsmall-: 0.5rem;
    --unit-small: 1rem;
    --unit-medium: 2rem;
    --unit-large: 3rem;
    --unit-xlarge: 4rem;

    /* SITE STRUCTURE COLORS */
    --site-header-background-color: #161818;
    --site-header-text-color: #fff;

    --site-footer-background-color: #0A0C0C;
    --site-footer-text-color: #fff;

    --site-hero-background-color: #1D2121;
    --site-hero-text-color: #fff;

    --sitenav-drawer-menu-background-color: #eee;
    --sitenav-drawer-menu-text-color: #000;

}